{% extends "debsso-base.html" %}

{% block head_resources %}
{{block.super}}
<style type="text/css">
.errorlist {
  color: red;
}
</style>
{% endblock %}

{% block relatedpages %}
{{block.super}}
{% endblock %}


{% block content %}

<h1 class="announce">Debian SSO -
{% if not manual %}
enroll this browser (SPKAC)
{% else %}
get certificate via manual SPKAC request
{% endif %}
</h1>

<form action="{% url 'spkac_enroll' domain=domain %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
  {% for hidden in form.hidden_fields %} {{hidden}} {% endfor %}
  {{ form.non_field_errors }}
  {% for f in form.visible_fields %}
    <p>{{f.label_tag}}<br>{{f}}<br><small>{{f.help_text}}</small></p>{{f.errors}}
  {% endfor %}
  {% if manual %}
  <p>Run these commands to generate an RSA key and an SPKAC challenge:
  <pre>
  openssl genrsa -out {{name}}.key 2048
  openssl spkac -key {{name}}.key -challenge {{challenge}} | cut -d= -f2-
  </pre>
  and paste the challenge here:</p>
  <textarea name="key" default="paste the openssl spkac result here..." cols="80" rows="5">
  </textarea>
  <p>You will get a {{name}}.crt file that you can use in several ways:
  <pre>
  # Authenticate access via curl
  curl --key {{name}}.key --cert {{name}}.crt https://sso.debian.org/ca/test/env

  # Combine key and certificate in a pkcs12 file that can be imported in browsers
  openssl pkcs12 -export -out {{name}}.p12 -inkey {{name}}.key -in {{name}}.crt
  </pre>
  </p>
  <input type="hidden" name="manual" value="1">
  {% else %}
  <p>Enrollment type: <keygen name="key" challenge="{{challenge}}" keytype="rsa"></p>
  {% endif %}
  <p><input type=submit value="Get certificate"></p>
  <p>In case of problems, see the <a href="https://wiki.debian.org/DebianSingleSignOn">Wiki page</a>{% if not manual %}, especially <a href="https://wiki.debian.org/DebianSingleSignOn#Browser_support">browser support</a>, or try <a href="{% url 'spkac_enroll_csr' domain=domain %}">getting a certificate manually</a>{% endif %}.
</form>

{% endblock %}
