{% extends "debsso-base.html" %}

{% block head_resources %}
{{block.super}}
<style type="text/css">
.errorlist {
  color: red;
}
</style>
{% endblock %}

{% block content %}

<h1 class="announce">Debian SSO - get certificate via Certificate Signing Request (CSR)</h1>

<form action="{% url 'spkac_enroll_csr' domain=domain %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
  {% for hidden in form.hidden_fields %} {{hidden}} {% endfor %}
  {{ form.non_field_errors }}
  {% for f in form.visible_fields %}
    <p>{{f.label_tag}}<br>{{f}}<br><small>{{f.help_text}}</small></p>{{f.errors}}
  {% endfor %}
  <p>Run these commands to generate an RSA key and a certificate signing request (CSR):
  <pre>
  openssl genrsa -out {{name}}.key 2048
  openssl req -new -sha256 -key {{name}}.key -batch
  </pre>
  and paste the CSR here:</p>
  <textarea name="csr" default="paste the openssl req result here..." cols="80" rows="5">
  </textarea>
  <p>You will get a {{name}}.crt file that you can use in several ways:
  <pre>
  # Authenticate access via curl
  curl --key {{name}}.key --cert {{name}}.crt https://sso.debian.org/ca/test/env

  # Combine key and certificate in a pkcs12 file that can be imported in browsers
  openssl pkcs12 -export -out {{name}}.p12 -inkey {{name}}.key -in {{name}}.crt
  </pre>
  </p>
  <input type="hidden" name="manual" value="1">
  <p><input type=submit value="Get certificate"></p>
  <p>In case of problems, see <a href="https://wiki.debian.org/DebianSingleSignOn#Browser_support">browser support</a>.</p>
</form>

{% endblock %}
