{% extends "debsso-base.html" %}
{% load i18n %}

{% block content %}

<h1>Debian Single Signon</h1>

<p>Debian has a Single Sign-On system for authenticating on web services, based
   on Client Certificates. Certificates are issued by this site and can be used
   on any site that is setup to accept them.</p>

<p>User and developer documentation for Debian's Single Sign-On is in the
   <a href="http://wiki.debian.org/DebianSingleSignOn">DebianSingleSignOn</a>
   page in the Debian wiki.</p>

<h2>Manage Single Signon certificates</h2>

<div class="line">
  <div class="col50" style="text-align: center">
    <a href="{% url 'spkac_status' domain="debian" %}">
      Debian account certificates
      <br>
      <img src="{{STATIC_URL}}/img/logo-debian.png">
    </a>
  </div>
  <div class="lastcol" style="text-align: center">
    <a href="{% url 'spkac_status' domain="alioth" %}">
      Alioth account certificates
      <br>
      <img src="{{STATIC_URL}}/img/logo-alioth.png">
    </a>
  </div>
</div>

{% endblock %}
